.search {
  margin: 30px auto 60px;
  padding: 0;
  position: relative;
  width: 300px;

  &__title {
    font-weight: $font-weight-thin;
    text-align: center;
  }

  &__input {
    border: 2px solid $silver;
    border-radius: 3px;
    color: $silver;
    font-size: .9rem;
    padding: 5px 40px 5px 10px;
    width: 100%;
  }

  & .icon-search {
    bottom: 6px;
    position: absolute;
    right: 6px;
  }
}
