.users {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;

  &__content {
    border: 2px solid $silver;
    border-radius: 3px;
    padding: 10px 10px 40px;
    position: relative;
    margin: 0 30px 50px;
    width: 300px;
  }

  &__item {
    align-items: center;
    display: flex;
    font-size: .9rem;
    margin-bottom: 10px;
    text-indent: 10px;

    &:before {
      content: "";
      font-size: 1.2rem;
      margin-right: 10px;
      width: 30px;
    }

    &--user {
      font-size: 1.1rem;
      font-weight: $font-weight-bold;
      margin-bottom: 5px;

        &:before {
          content: "\e900";
          font-family: $font-icons;
          font-weight: $font-weight-regular;
        }
    }

    &--address {

      &:before {
        content: "\e902";
        font-family: $font-icons;
      }
    }
  }

  &__link {
    color: $default-font-color;
    text-decoration: none;
    text-indent: 0;

    &:hover {
      text-decoration: underline;
    }
  }

  &__button {
    align-items: center;
    background: transparent;
    border: 2px solid $silver;
    bottom: 10px;
    color: $default-font-color;
    cursor: pointer;
    display: flex;
    font-size: .8rem;
    padding: 5px 10px;
    position: absolute;
    right: 10px;
    text-decoration: none;

    & .icon-phone {
      padding-right: 10px;
    }

    &:hover {
      background: $silver;
      color: $white;
    }
  }
}
