body, html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: $default-font-color;
  font-family: $font-family-sans-serif;
  font-size: $mobile-font-size;

  @include respond-to(laptop) {
    font-size: $default-font-size;
  }
}

section {
  max-width: 100%;
  overflow: hidden;
  padding: 0 30px;
}

::placeholder {
  color: $silver;
}

[-v-cloak] {
  display: none;
}
