/** Font family **/
$font-roboto: 'Roboto';
$font-icons: 'icomoon';
$font-family-sans-serif: $font-roboto, Arial, Helvetica, sans-serif;
$default-font-family: $font-family-sans-serif;

/** Font size **/
$default-font-size: 16px;
$mobile-font-size: 14px;
$default-line-height: 1.4;

/** Font weight **/
$font-weight-thin: 100;
$font-weight-regular: 400;
$font-weight-bold: 700;
